.footer {
  margin: 0;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__copyright {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
  margin: 0;
  line-height: 100%;
  font-weight: 400;
}
