.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  background-color: #ffffff;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  border-radius: 8px;
  position: relative;
  color: #212121;
}

.modal__container--delete-modal {
  max-width: 590px;
  padding: 32px 20px;
}

.modal__close-btn {
  background-image: url("../images/close-icon.svg");
  background-color: transparent;
  background-size: contain;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s ease;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn--delete-btn {
  background-image: url("../images/white-close-Icon.svg");
  opacity: 1;
  top: 0;
  right: -52px;
}

.modal__title {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  height: 40px;
}

.modal__subtitle {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__form--delete-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 0 16px 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  cursor: pointer;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__error {
  color: rgba(255, 0, 0, 0.7);
  font-weight: 500;
  line-height: 1.1;
}

.modal__input_type_error {
  border-color: rgba(255, 0, 0, 0.6);
}

.modal__submit-btn {
  background-color: #212121;
  color: #fcf5e5;
  padding: 18px 32px;
  width: 156px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__submit-btn--delete-btn {
  background-color: rgba(255, 101, 101, 1);
}

.modal__submit-btn_disabled {
  opacity: 0.5;
}

.modal__image-container {
  position: relative;
}

.modal__close-btn_type_preview {
  background-image: url("../images/preview-close-icon.svg");
  position: absolute;
  top: 0;
  right: -52.5px;
  width: 40px;
  height: 40px;
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  margin: 8px 0 0 0;
  display: inline-block;
  padding: 4px 8px;
  background-color: #212121;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 8px;
}

@media screen and (max-width: 869px) {
  .modal {
    padding: 12px;
  }

  .modal__container {
    padding: 12px;
    gap: 24px;
  }

  .modal__container--delete-modal {
    gap: 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__subtitle {
    text-align: center;
    line-height: 1.2;
  }

  .modal__form {
    gap: 24px;
  }

  .modal__form--delete-btns {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .modal__close-btn--delete-btn {
    top: -46px;
    right: 0;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__submit-btn--delete-btn {
    max-width: 156px;
  }

  .modal__submit-btn--cancel-btn {
    max-width: 156px;
  }

  .modal__image-container {
    padding: 0 16px;
  }

  .modal__image {
    min-width: 288px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 16px;
  }

  .modal__caption {
    font-size: 16px;
  }
}
