.cards__list {
  list-style-type: none;
  padding: 0 0 40px;
  margin: 20px 0 0;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  column-gap: 20px;
  row-gap: 40px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}


@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    padding: 0 0 20px;
    row-gap: 20px;
  }
}
